<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="images/x-icon" href="images/favicon.jpg">
    <title>服饰搭配小插件</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand title" href="#">晚上好  </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="title"><a href="http://127.0.0.1:7516">首页</a></li>
            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<h1 class="text-center">上传图片</h1>

<form role="form" id="uploadForm">
    <div class="form-group">
        <label for="type">衣服类型</label>
        <select class="form-control" id="type" name="type">
            <option value="1">帽子</option>
            <option value="2">衬衫</option>
            <option value="3">外套</option>
            <option value="4">裤子/裙子</option>
            <option value="5">鞋</option>
            <option value="6">包</option>
            <option value="7">饰品</option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputFile">File input</label>
        <input name='inputFile' type='file' id="inputFile" required />
        <p class="help-block">请确认上传的文件是否是png图片.</p>
    </div>
</form>
<button type="button" class="btn btn-default" onclick="doUpload()">上传</button>
<!--下面是传统表单提交方法,由于上传文件会设定表单提交方式为二进制传输,所以想采用ajax方式提交表单-->
<!--<form role="form" method="post" action="/file/uploading" enctype="multipart/form-data">-->
    <!--<div class="form-group">-->
        <!--<label for="type">衣服类型</label>-->
        <!--<select class="form-control" id="type" name="type">-->
            <!--<option value="1">帽子</option>-->
            <!--<option value="2">衬衫</option>-->
            <!--<option value="3">外套</option>-->
            <!--<option value="4">裤子/裙子</option>-->
            <!--<option value="5">鞋</option>-->
            <!--<option value="6">包</option>-->
            <!--<option value="7">饰品</option>-->
        <!--</select>-->
        <!--<label for="hzs">just test</label>-->
        <!--<input type="text" name="hzs">-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="inputFile">File input</label>-->
        <!--<input name='inputFile' type='file' id="inputFile" multiple='multiple'>-->
        <!--<p class="help-block">请确认上传的文件是否是png图片.</p>-->
    <!--</div>-->

    <!--<button type="submit" class="btn btn-default">上传</button>-->
<!--</form>-->


<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script type="text/javascript" src="javascripts/jquery-1.12.0.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<!--<script src="js/index.js"></script>-->
<script type="text/javascript" src="javascripts/index.js"></script>
</body>
</html>
