body{
    background-color: #dddddd;
    font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}
.title {
    font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}
.board{
    background-color: #737373;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    position:absolute;
}
.hat{
    width: 50%;
    margin: 0 25%;
    position:absolute;
}
.shirt{
    width: 60%;
    margin: 20% 20% -5% 20%;
    position:absolute;
    z-index:1;
}
.coat{
    width: 80%;
    margin: 10% 10% -5% 10%;
    position:absolute;
    z-index:2;
}
.trousers{
    width: 80%;
    margin: 35% 10% 0% 10%;
    position:absolute;
}
.shoes{
    width: 60%;
    margin: 80% 20% -8% 20%;
    position:absolute;

}
.bags{
    width: 40%;
    margin: 5% 55% -8% 5%;
    position:absolute;
}
.ornaments1{
    width: 40%;
    margin: 5% 5% -8% 55%;
    position:absolute;
}
.ornaments2{
    width: 40%;
    margin: 60% 55% -8% 5%;
    position:absolute;
}
.ornaments3{
    width: 40%;
    margin: 60% 5% -8% 55%;
    position:absolute;
}